@model FashionShop.Models.DTO.PostDTO

@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="full-banner" style="height: 135px">
</div>

<div class="container">
    <ul class="breadcrumb">
        <li><a href="~/Home"><i class="fa fa-home"></i></a></li>
        <li><a>Chi tiết bài viết</a></li>
    </ul>

    <div class="row featured-block">
        <div class="main-head-block" style="margin-top: 0">
            <h2>@Model.Title</h2>
        </div>

        <div class="post-content">
            <p>@Model.Content</p>
        </div>
        <div class="image-block">
            <a href="single-post.html" style="cursor: pointer">
                <img class="post-image" alt="i" src="@Model.Image"/>
            </a>
        </div>
    </div>
</div>