@model List<FashionShop.Models.DTO.PostDTO>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="full-banner" style="height: 135px">
</div>

<div class="main-content">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="~/Home"><i class="fa fa-home"></i></a></li>
            <li><a>Bài viết</a></li>
        </ul>

        <div class="row featured-block">
            <div class="main-head-block" style="margin-top: 0">
                <h2>Danh sách bài viết</h2>
            </div>

            @foreach (var post in Model)
            {
                <div class="post-item">
                    <div class="row width-800 height-300">
                        <div class="col-md-4">
                            <div class="image-block">
                                <a href="@Url.Action("Detail", "Post", new { id = post.ID })" style="cursor: pointer">
                                    <img class="post-image" alt="i" src="@post.Image" style="width: 300px; height: 150px" />
                                </a>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <a href="@Url.Action("Detail", "Post", new { id = post.ID })" style="cursor: pointer">
                                <h4 class="post-title">
                                    <b>@post.Title</b>
                                </h4>
                            </a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>