
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="full-banner" style="height: 135px">
</div>

<div class="main-content">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="~/Home"><i class="fa fa-home"></i></a></li>
            <li><a>Bài viết</a></li>
        </ul>

        <div class="row featured-block">
            <div class="main-head-block" style="margin-top: 0">
                <h2>Danh sách bài viết</h2>
            </div>
            
            
            <div class="post-item">
                <div class="row width-800 height-300">
                    <div class="col-md-4">
                        <div class="image-block">
                            <a href="~/Product/Detail" style="cursor: pointer">
                                <img class="post-image" alt="i" src="~/UploadFiles/Posts/chat-lieu-ao-so-mi-1.jpg" style="width: 300px; height: 150px"/>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <a href="~/Post/Detail" style="cursor: pointer">
                        <h4 class="post-title">
                            <b>Top 5 chất liệu may áo sơ mi phổ biến nhất hiện nay</b>
                        </h4>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

