
@{
    ViewData["Title"] = "Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-content">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="home.html"><i class="fa fa-home"></i></a></li>
            <li><a>Shopping cart</a></li>
        </ul>
        <div class="row set_color cart-table">
            <div id="content" class="col-sm-12">
                <h1>Shopping Cart &nbsp;(0.00kg) </h1>
                <form>
                    <div class="table-responsive  margin-top">
                        <table class="table">
                            <thead>
                                <tr>
                                    <td class="text-center">Image</td>
                                    <td class="text-left">Product Name</td>
                                    <td class="text-left">Model</td>
                                    <td class="text-left">Quantity</td>
                                    <td class="text-right">Unit Price</td>
                                    <td class="text-right">Total</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-center">
                                        <a href="single-product.html"><img style="width: 100px" src="images/pro4.jpg" class="img-thumbnail"></a>
                                    </td>
                                    <td class="text-left">
                                        <a href="single-product.html">Girls Top</a>
                                        <br>
                                        <small>Reward Points: 600</small>
                                    </td>
                                    <td class="text-left">Product 16</td>
                                    <td class="text-left">
                                        <div class="input-group btn-block" style="max-width: 200px;">
                                            <input type="text" value="1" size="1" class="form-control">
                                            <span class="input-group-btn">
                                                <button type="submit" title="" class="btn btn-primary"><i class="fa fa-refresh"></i></button>
                                                <button type="button" title="" class="btn btn-primary" style="margin-left: 1px"><i class="fa fa-times-circle"></i></button>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="text-right">$64.00</td>
                                    <td class="text-right">$64.00</td>
                                </tr>
                                <tr>
                                    <td class="text-center">
                                        <a href="single-product.html"><img style="width: 100px" src="images/pro7.jpg" class="img-thumbnail"></a>
                                    </td>
                                    <td class="text-left">
                                        <a href="single-product.html">Girls Top</a>
                                        <br>
                                        <small>Reward Points: 600</small>
                                    </td>
                                    <td class="text-left">Product 10</td>
                                    <td class="text-left">
                                        <div class="input-group btn-block" style="max-width: 200px;">
                                            <input type="text" value="1" size="1" class="form-control">
                                            <span class="input-group-btn">
                                                <button type="submit" title="" class="btn btn-primary"><i class="fa fa-refresh"></i></button>
                                                <button type="button" title="" class="btn btn-primary" style="margin-left: 1px"><i class="fa fa-times-circle"></i></button>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="text-right">$54.00</td>
                                    <td class="text-right">$54.00</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </form>
                <h2>What would you like to do next?</h2>
                <p>Choose if you have a discount code or reward points you want to use or would like to estimate your delivery cost.</p>
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a aria-expanded="false" href="#collapse-coupon" class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion">Use Coupon Code <i class="fa fa-caret-down"></i></a></h4>
                        </div>
                        <div style="height: 0px;" aria-expanded="false" id="collapse-coupon" class="panel-collapse collapse">
                            <div class="panel-body">
                                <label class="col-sm-2 control-label" for="input-coupon">Enter your coupon code</label>
                                <div class="input-group">
                                    <input type="text" name="coupon" value="" placeholder="Enter your coupon here" id="input-coupon" class="form-control">
                                    <span class="input-group-btn">
                                        <input type="button" value="Apply Coupon" id="button-coupon" class="btn btn-primary">
                                    </span>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a aria-expanded="false" href="#collapse-voucher" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle collapsed">Use Gift Certificate <i class="fa fa-caret-down"></i></a></h4>
                        </div>
                        <div style="height: 0px;" aria-expanded="false" id="collapse-voucher" class="panel-collapse collapse">
                            <div class="panel-body">
                                <label class="col-sm-2 control-label" for="input-voucher">Enter your gift certificate code here</label>
                                <div class="input-group">
                                    <input type="text" name="voucher" value="" placeholder="Enter your gift certificate code here" id="input-voucher" class="form-control">
                                    <span class="input-group-btn">
                                        <input type="submit" value="Apply Gift Certificate" id="button-voucher" class="btn btn-primary">
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-4 col-sm-offset-8">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td class="text-right cart-table-total-label"><strong>Sub-Total:</strong></td>
                                    <td class="text-right cart-table-total">$500.00</td>
                                </tr>
                                <tr>
                                    <td class="text-right cart-table-total-label"><strong>Eco Tax (-2.00):</strong></td>
                                    <td class="text-right cart-table-total">$2.00</td>
                                </tr>
                                <tr>
                                    <td class="text-right cart-table-total-label"><strong>VAT (20%):</strong></td>
                                    <td class="text-right cart-table-total">$100.00</td>
                                </tr>
                                <tr>
                                    <td class="text-right cart-table-total-label"><strong>Total:</strong></td>
                                    <td class="text-right cart-table-total">$602.00</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="buttons">
                    <div class="pull-left"><a href="product.html" class="btn btn-primary">Continue Shopping</a></div>
                    <div class="pull-right"><a href="~/Product/CheckOut" class="btn btn-primary">Checkout</a></div>
                </div>
            </div>
        </div>
    </div>
</div>

