<div class="card card-default">
    <div class="card-header">
        <h3 class="card-title" style="font-size: 30px">Thêm danh mục sản phẩm</h3>
    </div>

    <form novalidate name="frmAddCategory" role="form" ng-submit="addCategory()">
        <div class="card-body">
            <div class="form-group">
                <label for="name">Tên</label>
                <input type="text" name="name" class="form-control" id="name" placeholder="Enter name" required ng-model="category.name">
                <span class="text-danger" ng-show="frmAddCategory.name.$invalid">Vui lòng nhập tên danh mục</span>
            </div>

        </div>
        <!-- /.card-body -->
        <div class="card-footer">
            <button class="btn btn-success" ng-disabled="frmAddCategory.$invalid">Thêm</button>

            <button class="btn btn-default float-right" ui-sref="category_list">Hủy</button>

        </div>
    </form>
</div>
<!-- /.card -->