<div class="card card-default">
    <div class="card-header">
        <h3 class="card-title" style="font-size: 30px">Thêm nhân viên</h3>
    </div>

    <form novalidate name="frmAddMember" role="form" ng-submit="addMember()">
        <div class="card-body">
            <div class="form-group">
                <label for="name">Họ và tên</label>
                <input type="text" name="name" class="form-control" id="name" placeholder="Vui lòng nhập họ và tên" required ng-model="member.fullName">
                <span class="text-danger" ng-show="frmAddMember.name.$invalid">Họ và tên không được để trống</span>
            </div>


            <div class="form-group">
                <label for="Email">Email</label>
                <input type="email" name="Email" class="form-control" id="Email" placeholder="Vui lòng nhập email" required ng-model="member.email">
                <span class="text-danger" ng-show="frmAddMember.Email.$invalid">Vui lòng nhập đúng email</span>
            </div>

            <div class="form-group">
                <label for="phoneNumber">Số điện thoại</label>
                <input type="text" name="phoneNumber" class="form-control" id="phoneNumber" placeholder="Vui lòng nhập số điện thoại" required ng-model="member.phoneNumber">
                <span class="text-danger" ng-show="frmAddMember.phoneNumber.$invalid">Số điện thoại không được để trống</span>
            </div>

            <div class="form-group">
                <label for="password">Mật khẩu</label>
                <input type="password" name="password" class="form-control" id="password" placeholder="Vui lòng nhập mật khẩu" required ng-model="member.password">
                <span class="text-danger" ng-show="frmAddMember.password.$invalid">Mật khẩu không được để trống</span>
            </div>

            <div class="form-group">
                <label for="rePassword">Nhập lại mật khẩu</label>
                <input type="password" name="rePassword" class="form-control" id="rePassword" placeholder="Vui lòng nhập lại mật khẩu" required ng-model="member.rePassword">
                <span class="text-danger" ng-show="frmAddMember.rePassword.$invalid">Mật khẩu mật khẩu không được để trống</span>
            </div>

        </div>
        <!-- /.card-body -->
        <div class="card-footer">
            <button class="btn btn-success" ng-disabled="frmAddMember.$invalid">Thêm</button>
            <button class="btn btn-default float-right" ui-sref="member_list">Hủy</button>
        </div>
    </form>
</div>
<!-- /.card -->