<div class="card">
    <div class="card-header">
        <h3 class="card-title" style="font-size:30px">Danh mục quản trị viên</h3>
        <button type="button" class="btn btn-success float-right">Thêm quản trị viên</button>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table class="table table-bordered table-striped text-center">
            <thead>
                <tr class="bg-gradient-dark">
                    <th style="width: 5%">ID</th>
                    <th style="width: 30%">Họ tên</th>
                    <th style="width: 30%">Email</th>
                    <th style="width: 20%">Số điện thoại</th>
                    <th style="width: 15%">Trạng thái</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Test</td>
                    <td>Test</td>
                    <td>Test</td>
                    <td>Hoạt động</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Test</td>
                    <td>Test</td>
                    <td>Test</td>
                    <td>Hoạt động</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>