@model FashionShop.Models.Domain.Contact
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="full-banner" style="height: 135px">
</div>

<div class="main-content">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="~/Home"><i class="fa fa-home"></i></a></li>
            <li><a>Liên hệ</a></li>
        </ul>
        <div class="row login-page" >
            <div class="col-sm-6" id="content">
                <div class="row">
                    
                    <div class="well">
                        <h3>Liên hệ</h3>
                        <p><strong>Vui lòng điền đầy đủ thông tin để được phản hồi nhanh nhất</strong></p>
                        @*<form method="post">*@
                        <form asp-action="Index">
                            <div class="form-group">
                                <label for="input-fullname" class="control-label">Họ và tên</label>
                                <input type="text" class="form-control" id="input-fullname" placeholder="Nhập họ và tên" value="" name="fullname">
                            </div>
                            <div class="form-group">
                                <label for="input-email" class="control-label">E-Mail</label>
                                <input type="email" class="form-control" id="input-email" placeholder="Nhập E-Mail" value="" name="email">
                            </div>
                            <div class="form-group">
                                @*<label for="input-phonenumber" class="control-label">Số điện thoại</label>
                                <input type="tel" asp-for="PhoneNumber" class="form-control" id="input-phonenumber" placeholder="Nhập số điện thoại" value="" name="phonenumber">*@
                                <label for="input-phonenumber" class="control-label">Số điện thoại</label>
                                <input type="tel" asp-for="PhoneNumber" class="form-control" id="input-phonenumber" placeholder="Nhập số điện thoại"> 
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="input-content" class="control-label">Nội dung</label>
                                <textarea class="form-control" id="input-content" placeholder="Nhập nội dung" value="" name="content" style="height: 100px;"></textarea>
                            </div>
                            <div class="form-group">
                                <input type="submit" class="btn btn-primary" value="Gửi" style="width:100%;">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

