
<div class="card">
    <div class="card-header">
        <h3 class="card-title" style="font-size:30px">Danh sách vai trò</h3>
        <button type="button" class="btn btn-success float-right">Thêm vai trò</button>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table class="table table-bordered table-striped text-center">
            <thead>
                <tr class="bg-gradient-dark">
                    <th style="width: 30%">ID</th>
                    <th style="width: 60%">Tên</th>
                    <th style="width: 10%">Thao tác</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Test</td>
                    <td>
                        <button class="btn btn-sm btn-primary">
                            Sửa
                        </button>
                        <button class="btn btn-sm btn-danger">
                            Xóa
                        </button>
                    </td>
                </tr>
                
            </tbody>
        </table>
    </div>
</div>