
<div class="card">
    <div class="card-header">
        <h3 class="card-title" style="font-size:30px">Danh sách vai trò</h3>
        <button type="button" class="btn btn-success float-right" ui-sref="role_add">Thêm vai trò</button>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table class="table table-bordered table-striped text-center">
            <thead>
                <tr class="bg-gradient-dark">
                    <th style="width: 30%">ID</th>
                    <th style="width: 50%">Tên</th>
                    <th style="width: 20%">Thao tác</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="role in listRoles">
                    <td>{{role.id}}</td>
                    <td>{{role.name}}</td>
                    <td>
                        <button class="btn btn-sm btn-primary mr-3" ui-sref="role_edit({id:role.id})">
                            Sửa
                        </button>
                        <button class="btn btn-sm btn-danger" ng-click="deleteRole(role.id)">
                            Xóa
                        </button>
                    </td>
                </tr>
                
            </tbody>
        </table>
    </div>
</div>