<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Trang quản trị</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/assets/Admin/libs/fontawesome-free/css/all.min.css">

    <!-- Theme style -->
    <link rel="stylesheet" href="~/assets/Admin/css/adminlte.min.css">

</head>
<body class="hold-transition sidebar-mini" ng-app="FashionShop">
    
    <div ui-view></div>


    <!-- jQuery -->
    <script src="~/assets/Admin/libs/jquery/jquery.min.js"></script>

    <!-- Bootstrap 4 -->
    <script src="~/assets/Admin/libs/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- AdminLTE app -->
    <script src="~/assets/Admin/js/adminlte.min.js"></script>

    <!------------------------------ Begin embed Angularjs ------------------------------>
    <!-- Angular JS -->
    <script src="~/assets/Admin/libs/angular-1.8.2/angular.js"></script>

    <!-- UI Router -->
    <script src="~/assets/admin/libs/angular-ui-router/angular-ui-router.js"></script>

    <!-- Module Common -->
    <script src="~/app/shared/modules/fashionShop.common.js"></script>

    <!-- Module components -->
    <script src="~/app/components/products/product.module.js"></script>
    <script src="~/app/components/categories/category.module.js"></script>
    <script src="~/app/components/contacts/contact.module.js"></script>
    <script src="~/app/components/orders/order.module.js"></script>
    <script src="~/app/components/posts/post.module.js"></script>
    <script src="~/app/components/roles/role.module.js"></script>
    <script src="~/app/components/admin/admin.module.js"></script>
    <script src="~/app/components/members/member.module.js"></script>
    <script src="~/app/components/customers/customer.module.js"></script>

    <!-- Module Main -->
    <script src="~/app/app.js"></script>

    <!-- Controller -->
    <script src="~/app/components/home/homeController.js"></script>

    <script src="~/app/components/products/productaddcontroller.js"></script>
    <script src="~/app/components/products/productdetailcontroller.js"></script>
    <script src="~/app/components/products/producteditcontroller.js"></script>
    <script src="~/app/components/products/productlistcontroller.js"></script>

    <script src="~/app/components/categories/categoryaddcontroller.js"></script>
    <script src="~/app/components/categories/categoryeditcontroller.js"></script>
    <script src="~/app/components/categories/categorylistcontroller.js"></script>

    <script src="~/app/components/contacts/contactlistcontroller.js"></script>

    <script src="~/app/components/orders/orderdetailcontroller.js"></script>
    <script src="~/app/components/orders/orderlistcontroller.js"></script>

    <script src="~/app/components/posts/postaddcontroller.js"></script>
    <script src="~/app/components/posts/posteditcontroller.js"></script>
    <script src="~/app/components/posts/postlistcontroller.js"></script>

    <script src="~/app/components/roles/roleaddcontroller.js"></script>
    <script src="~/app/components/roles/roleeditcontroller.js"></script>
    <script src="~/app/components/roles/rolelistcontroller.js"></script>

    <script src="~/app/components/admin/adminaddcontroller.js"></script>
    <script src="~/app/components/admin/admineditcontroller.js"></script>
    <script src="~/app/components/admin/adminlistcontroller.js"></script>

    <script src="~/app/components/members/memberaddcontroller.js"></script>
    <script src="~/app/components/members/membereditcontroller.js"></script>
    <script src="~/app/components/members/memberlistcontroller.js"></script>

    <script src="~/app/components/customers/customerlistcontroller.js"></script>
</body>
</html>

