@{
    ViewData["Title"] = "Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="full-banner" style="height: 135px">
</div>

<div class="main-content">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="~/home"><i class="fa fa-home"></i></a></li>
            <li><a>Giỏ hàng</a></li>
        </ul>
        <div class="row set_color cart-table">
            <div id="content" class="col-sm-12">
                <h1>Giỏ hàng</h1>
                <form>
                    <div class="table-responsive  margin-top">
                        <table class="table">
                            <thead>
                                <tr>
                                    <td class="text-center">Hình ảnh</td>
                                    <td class="text-left">Tên sản phẩm</td>
                                    <td class="text-left">Số lượng</td>
                                    <td class="text-right">Đơn giá</td>
                                    <td class="text-right">Tổng cộng</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-center" style="vertical-align: middle!important;">
                                        <a href="single-product.html">
                                            <img style="width: 80px" src="~/UploadFiles/Images/Áo Khoác Bomber Basketball Vibe/img_7607_6f49eef2d183480e83e830c679c06b91_master.jpg" class="img-thumbnail">
                                        </a>
                                    </td>
                                    <td class="text-left" style="vertical-align: middle!important;">
                                        <a href="single-product.html">Sản phẩm 1</a>
                                        <br>
                                    </td>
                                    <td class="text-left" style="vertical-align: middle!important;">
                                        <div class="input-group btn-block" style="max-width: 200px;">
                                            <input type="text" value="1" size="1" class="form-control">
                                            <span class="input-group-btn">
                                                <button type="submit" title="" class="btn btn-primary"><i class="fa fa-refresh"></i></button>
                                                <button type="button" title="" class="btn btn-primary" style="margin-left: 1px"><i class="fa fa-times-circle"></i></button>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="text-right" style="vertical-align: middle!important;">300.000đ</td>
                                    <td class="text-right" style="vertical-align: middle!important;">300.000đ</td>
                                </tr>
                                <tr>
                                    <td class="text-center" style="vertical-align: middle!important;">
                                        <a href="single-product.html">
                                            <img style="width: 80px" src="~/UploadFiles/Images/Áo Khoác Bomber Basketball Vibe/img_7607_6f49eef2d183480e83e830c679c06b91_master.jpg" class="img-thumbnail">
                                        </a>
                                    </td>
                                    <td class="text-left" style="vertical-align: middle!important;">
                                        <a href="single-product.html">Sản phẩm 1</a>
                                        <br>
                                    </td>
                                    <td class="text-left" style="vertical-align: middle!important;">
                                        <div class="input-group btn-block" style="max-width: 200px;">
                                            <input type="text" value="1" size="1" class="form-control">
                                            <span class="input-group-btn">
                                                <button type="submit" title="" class="btn btn-primary"><i class="fa fa-refresh"></i></button>
                                                <button type="button" title="" class="btn btn-primary" style="margin-left: 1px"><i class="fa fa-times-circle"></i></button>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="text-right" style="vertical-align: middle!important;">300.000đ</td>
                                    <td class="text-right" style="vertical-align: middle!important;">300.000đ</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </form>
                
                <div class="row">
                    <div class="col-sm-4 col-sm-offset-8">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td class="text-right cart-table-total-label"><strong>Tạm tính: </strong></td>
                                    <td class="text-right cart-table-total">300.000đ</td>
                                </tr>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="buttons">
                    <div class="pull-left"><a href="~/home" class="btn btn-primary">Tiếp tục mua hàng</a></div>
                    <div class="pull-right"><a href="~/ShoppingCart/CheckOut" class="btn btn-primary">Thanh toán</a></div>
                </div>
            </div>
        </div>
    </div>
</div>

