
@{
    ViewData["Title"] = "OrderSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="full-banner" style="height: 135px">
</div>

<div class="main-content">
    <div class="container">
        <h3 class="text-success text-center">Chúc mừng bạn đã đặt hàng thành công, chúng tôi sẽ sớm liên hệ</h3>
    </div>
</div>
