<section class="content">
    <div class="card-header pt-0">
         <h3 class="card-title" style="font-size: 30px">Chi tiết sản phẩm</h3>
         <button class="btn btn-info float-right" ui-sref="product_list">Quay lại</button>
    </div>

    <!-- Default box -->
    <div class="card card-solid">
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-sm-6">
                    <h3 class="d-inline-block d-sm-none">{{product.name}}</h3>
                    <div class="col-12" style="text-align: center;">
                        <img src="{{product.image}}" class="product-image" style="max-width: 50% !important;" alt="Product Image">
                    </div>
                    <div class="col-12 product-image-thumbs">
                        <div class="product-image-thumb active">
                            <img src="{{product.image}}" alt="Product Image" style="cursor: pointer">
                        </div>
                        <div class="product-image-thumb" ng-repeat="img in listImages" ng-click="choose()" style="cursor: pointer">
                            <img src="{{img}}" alt="Product Image">
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <h3 class="my-3">{{product.name}}</h3>

                    <hr>
                    <h4 style="padding: 10px">Danh mục: {{product.categoryName}}</h4>

                    <h4 style="padding: 10px">Số lượng: {{product.quantity}}</h4>

                    <h4 style="padding: 10px">Giá nhập: {{product.purchasePrice | formatCurrencyVND}}</h4>

                    <h4 style="padding: 10px" ng-if="product.discount > 0">
                        Giá bán:
                        <span style="text-decoration: line-through; font-size: 80%">{{product.price | formatCurrencyVND}}</span>
                        <span style="margin: 0 5px">{{product.price - (product.price * product.discount/100) | formatCurrencyVND}}</span>
                        <span class="badge bg-gradient-warning">Giảm {{product.discount}}%</span>
                    </h4>

                    <h4 style="padding: 10px" ng-if="product.discount <= 0">
                        Giá bán:
                        <span style="margin: 0 5px">{{product.price | formatCurrencyVND}}</span>
                    </h4>

                    <h4 style="padding: 10px">Ngày tạo: {{product.createdDate | date: 'dd/MM/yyyy HH:mm:ss'}}</h4>

                    <h4 style="padding: 10px">Tạo bởi: {{product.createdBy}}</h4>

                    <h4 style="padding: 10px">Ngày chỉnh sửa: {{product.updatedDate | date: 'dd/MM/yyyy HH:mm:ss'}}</h4>

                    <h4 style="padding: 10px">Chỉnh sửa bởi: {{product.updatedBy}}</h4>

                </div>
            </div>
            <div class="row mt-4">
                <nav class="w-100">
                    <div class="nav nav-tabs" id="product-tab" role="tablist">
                        <a class="nav-item nav-link active" id="product-desc-tab" data-toggle="tab" href="#product-desc" role="tab" aria-controls="product-desc" aria-selected="true">Mô tả</a>
                        <a class="nav-item nav-link" id="product-comments-tab" data-toggle="tab" href="#product-comments" role="tab" aria-controls="product-comments" aria-selected="false">Bình luận</a>
                        <a class="nav-item nav-link" id="product-rating-tab" data-toggle="tab" href="#product-rating" role="tab" aria-controls="product-rating" aria-selected="false">Đánh giá</a>
                    </div>
                </nav>
                <div class="tab-content p-3" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="product-desc" role="tabpanel" aria-labelledby="product-desc-tab"></div>
                    <div class="tab-pane fade" id="product-comments" role="tabpanel" aria-labelledby="product-comments-tab"> Vivamus rhoncus nisl sed venenatis luctus. Sed condimentum risus ut tortor feugiat laoreet. Suspendisse potenti. Donec et finibus sem, ut commodo lectus. Cras eget neque dignissim, placerat orci interdum, venenatis odio. Nulla turpis elit, consequat eu eros ac, consectetur fringilla urna. Duis gravida ex pulvinar mauris ornare, eget porttitor enim vulputate. Mauris hendrerit, massa nec aliquam cursus, ex elit euismod lorem, vehicula rhoncus nisl dui sit amet eros. Nulla turpis lorem, dignissim a sapien eget, ultrices venenatis dolor. Curabitur vel turpis at magna elementum hendrerit vel id dui. Curabitur a ex ullamcorper, ornare velit vel, tincidunt ipsum. </div>
                    <div class="tab-pane fade" id="product-rating" role="tabpanel" aria-labelledby="product-rating-tab"> Cras ut ipsum ornare, aliquam ipsum non, posuere elit. In hac habitasse platea dictumst. Aenean elementum leo augue, id fermentum risus efficitur vel. Nulla iaculis malesuada scelerisque. Praesent vel ipsum felis. Ut molestie, purus aliquam placerat sollicitudin, mi ligula euismod neque, non bibendum nibh neque et erat. Etiam dignissim aliquam ligula, aliquet feugiat nibh rhoncus ut. Aliquam efficitur lacinia lacinia. Morbi ac molestie lectus, vitae hendrerit nisl. Nullam metus odio, malesuada in vehicula at, consectetur nec justo. Quisque suscipit odio velit, at accumsan urna vestibulum a. Proin dictum, urna ut varius consectetur, sapien justo porta lectus, at mollis nisi orci et nulla. Donec pellentesque tortor vel nisl commodo ullamcorper. Donec varius massa at semper posuere. Integer finibus orci vitae vehicula placerat. </div>
                </div>
            </div>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->

</section>

<script>
    $(document).ready(function () {
        $('.product-image-thumb').on('click', function () {
            var $image_element = $(this).find('img')
            $('.product-image').prop('src', $image_element.attr('src'))
            $('.product-image-thumb.active').removeClass('active')
            $(this).addClass('active')
        })
    })
</script>